In [1]:
import csv

In [2]:
from collections import defaultdict

In [6]:
def  sum_some(mylist):
    value = 0
    for i in mylist:
        if i > 10:
            value += i

    return value

In [7]:
sum_some([1,2,3])

0

In [8]:
sum_some([10,12,3])

12

In [37]:
def after_the(mystring):
    mylist = mystring.split()
    
    returnlist = []
    
    if len(mylist) == 0:
        return returnlist
    
    for i in range(0,len(mylist)):
        if mylist[i].lower() == 'the' and i != (len(mylist) - 1):
            returnlist.append(mylist[i+1])
            
        if mylist[i].lower() == 'the' and i == (len(mylist) - 1):
            returnlist.append('')
        #print(returnlist)
            
    return returnlist

In [38]:
after_the('The man, the boy and the dog went there.')

['man,', 'boy', 'dog']

In [39]:
after_the('She named her dog THE')

['']

In [40]:
after_the('She named her dog THE.')

[]

In [41]:
after_the('She named her dog THE hero')

['hero']

In [42]:
Students = {
 'Student_ID':[1298312, 2384774, 1293847, 8985672, 1487170],
 'Course':['MBusA', 'MBusA', 'MBusA', 'MBusA', 'MEng'],
 'Semester':[1, 2, 2, 1, 3]
}

In [43]:
WAM = {
 'Student_ID':[8985672, 1298312, 1293847, 2384774, 1487170],
 'WAM':[90, 65, 90, 75, 11]
}

In [104]:
def select(mydict, col, value):
    
    #print(mydict[col])
    
    d = {}
    newcol = []
    mylist = []
    mylist2 = []
    
    col_list = []
    
    
    for i in mydict.keys():
        d[i] = newcol
        col_list.append(i)
        
    index = 0
    for i in mydict[col]:
        
        print(i)
        if i == value:
            mylist.append(i)
            
            for j in col_list:
                if j != col:
                    print(mydict[j][index])
                    mylist2.append(mydict[j][index])
                    #d[j] = mydict[j][index]
        
        #print('index: ',index)
            
        d[col] = mylist
        for j in col_list:
            if j != col:
                d[j] = mylist2
        
        index += 1
        
    print(col_list)
    
        
    
    '''
    for i in mydict[col]:
        if i == value:
            print('Check: ',i)
    
    for x, y in mydict.items():
        print(x,y)
        
        for i in mydict.values():
            print('i: ',i)
            if value == i:
                print(mydict[i])
    '''
    
    return d

In [105]:
select(WAM, 'WAM', 90)

90
8985672
65
90
1293847
75
11
['Student_ID', 'WAM']

{'Student_ID': [8985672, 1293847], 'WAM': [90, 90]}

In [59]:
select(Students, 'Semester', 9)

{'Student_ID': [], 'Course': [], 'Semester': []}

In [ ]:
def f(v): return v > 64
select(WAM, 'WAM', f)
{'Student_ID': [8985672, 1298312, 1293847, 2384774], 'WAM': [90, 65, 90, 75]}

In [98]:
def t():
    return 10

False

In [102]:
lambda x: x > 64

In [103]:
for i in WAM['WAM']:
    print(i)

90
65
90
75
11